.background {
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.post-list {
  width: 80vw;
  max-width: 800px;
  margin: 6em auto;
}

.post-modal-trigger {
  display: block;
  background-color: #2ec0f9;
  width: 8em;
  height: 3em;
  border: none;
  border-radius: 2em;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 3em;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

* {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
