.post-modal label {
display: block;
margin-top: 2em;
font-weight: bold;
font-size: 18px;
}

.post-modal input {
    margin-top: 1em;
    width: 20em;
    height: 3em;
}

.post-modal button {
    display: block;
    margin-top: 3em;
    background-color: #2EC0F9;
    width: 8em;
    height: 3em;
    border: none;
    border-radius: 2em;
    color: white;
    cursor: pointer;
}
